.container {
    height: calc(100vh - 160px );
    display: flex;
}

.main {
    background-color: violet;
    flex: 3;

}

.aside {
    background-color: green;
    flex: 1;
}

@media screen and (max-with: 900px){
    .container {
        flex-direction: column-reverse;
    }
}